.top_banner {
    background-color: #CC0000;
    height: auto; 
    padding: 20px;
    color: #fff; 

    @media (min-width: 768px) {
        width: 300px;
        height: 115px;
    }

    h4 {
        font-size: 14px;
    }

    h1 {
        font-size: 48px;
    }
}