.app_container {
    margin: 10px;
  
    @media (min-width: 768px) and (max-width: 1024px) {
      margin: 20px;
    }
    
    @media (min-width: 1025px) {
      width: 1000px;
      margin: 40px auto;
    }
}